.about-me {
  background-color: lightgray;
  color: black;
  padding: 3em 4em;
  align-items: center;
  text-align: center;
  font-family: 'Ubuntu';

  h2 {
    font-size: 3em;
    margin: 0;
  }

  p {
    padding: 1em;
  }
}