.top-nav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Jaro";
  font-size: x-large;
  width: 100%;
  border-bottom: 3px solid white;
  position: fixed;
  z-index: 900;
  padding: 0.5em;

  a {
    color: white;
    text-decoration: none;
    padding-right: 0.6em;
  }

  .links {
    padding-right: 3em;

    a {
      color: white;
      text-decoration: none;
      padding-right: 0.6em;
    }
  }
}
